body {
  font-family: 'Noto Sans', sans-serif;
  color: white;
  background: black;
  margin: 0;
}

#myCanvas {
  position: absolute;
  margin: 0 auto;
  left: 0;
  right: 0;
  border: 1px solid #555555;
}